{% extends "base.html" %}
{% block content %}
<main>
    <h1 class="screen-title">Compra de Crypto</h1>

    <form action="/purchase" method="post">
        {{ form.csrf_token }}
        {{ form.amount_to }}
        {{ form.operation }}
        
        <div class="form">
            <div class="currency">
                {{ form.currency_from.label }}
                {{ form.currency_from }}
                {% if form.currency_from.errors %}
                    {% for mensaje in form.currency_from.errors %}
                    <p class="error">{{ mensaje }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="currency">
                {{ form.currency_to.label }}
                {{ form.currency_to }}
                {% if form.currency_to.errors %}
                    {% for mensaje in form.currency_to.errors %}
                    <p class="error">{{ mensaje }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="form">
            <div class="amount">
                {{ form.amount_from.label }}
                {{ form.amount_from(step=0.0001, type="number") }}
                {% if form.amount_from.errors %}
                    {% for mensaje in form.amount_from.errors %}
                    <p class="amount-error">{{ mensaje }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div id="calculate" class="amount">
                {{ form.calculate }}
                {% if form.calculate.errors %}
                    {% for mensaje in form.calculate.errors %}
                    <p class="error">{{ mensaje }}</p>
                    {% endfor %}
                {% endif %}
             </div>
            <div id="calculation" class="amount">
                {% if form.amount_to.data %}
                    {{ form.amount_to.label }}
                    {{ form.amount_to.data }}
                {% endif %}
            </div>
            <div id="submit">
                {{ form.submit }}
                {% if form.submit.errors %}
                    {% for mensaje in form.submit.errors %}
                    <p class="error">{{ mensaje }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        
        <div class="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        
    </form>
</main>
{% endblock %}